.container {
  height: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 20em;
}

.show-hide {
  height: 100%;
  background-color: white;
  padding: 0.1em;
  border-right-style: solid;
  border-right-color: #c3c3c3;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-color: #c3c3c3;
  border-left-width: 1px;
}

.show-hide:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.header-header {
  display: flex;
}

.header-subtext {
  font-size: small;
}

.main-icon {
  width: 2em;
  height: 2em;
  background-color: #5a8da1;
  color: white;
  border-radius: 0.2em;
}

.header {
  // background-color: #bcced8;
  border-bottom-style: solid;
  border-bottom-color: #9a9a9a;
  border-bottom-width: 1px;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-item > .icon-item {
  opacity: 0.4;
  transition: opacity 0.2s;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover > .icon-item {
  opacity: 1;
  transform: scale(1.5);
  transition: opacity 0.2s, transform 1;
}

.menu-item:active {
  opacity: 1;
  color: #005e83;
}

.menu-item:active > .icon-item {
  transform: scale(1.2);
}

.menu-active > .icon-item {
  opacity: 1;
  color: #007bab;
  transform: scale(1.5);
}

.menu-active > * {
  font-weight: bold;
}

.content {
  height: 100%;
  background-color: #f9f9f9;
}

.menus {
  flex-grow: 1;
  height: 100%;
}

.title {
  width: fit-content;
  border-radius: 0.2em;
}

.title:hover {
  cursor: pointer;
  color: #007bab;
}

.title:hover > .title-edit-icon {
  opacity: 1;
}

.title-edit-icon {
  opacity: 0;
}

.edit-title {
  width: 100%;
}

.edit-title-field {
  width: 100%;
}

.header-title {
  width: 100%;
}
