<div class="container bds-shadow-3">
  <div class="sidebar" *ngIf="!sidebarIsHidden()">
    <div class="header-header bds-margin-1 bds-y-center">
      <i class="main-icon fas fa-project-diagram bds-r-margin-1 bds-padding-1 bds-x-center bds-y-center bds-shadow-2"></i>
      <div class="header-title">
        <div class="header-subtext">
          Dependency Mapper
        </div>
        <div class="title" *ngIf="!isEditingTitle()" (click)="editTitle()">
          <b>{{ title ? title : 'Untitled' }}</b>
          <i class="title-edit-icon fas fa-pen bds-l-margin-1"></i>
        </div>
        <div class="edit-title" *ngIf="isEditingTitle()">
          <input
            #titleField
            class="edit-title-field bds-input-field"
            [(ngModel)]="title"
            (blur)="stopEditingTicket()"
            (keyup.enter)="stopEditingTicket()"
            ngDefaultControl>
        </div>
      </div>
    </div>
    <div class="header bds-y-center">
      <div class="menus bds-y-center bds-x-even_space">
        <div
          class="menu-item bds-x-center bds-padding-1"
          [ngClass]="{'menu-active': isDisplayingTickets()}"
          (click)="selectTickets()"
        >
          <i class="icon-item fas fa-ticket-alt bds-x-center bds-padding-1"></i>
          <div class="header-subtext">
            Tickets
          </div>
        </div>
        <div
          class="menu-item bds-x-center bds-padding-1"
          [ngClass]="{'menu-active': isDisplayingTags()}"
          (click)="selectTags()"
        >
          <i class="icon-item fas fa-tags bds-x-center bds-padding-1"></i>
          <div class="header-subtext">
            Tags
          </div>
        </div>
        <div
          class="menu-item bds-x-center bds-padding-1"
          [ngClass]="{'menu-active': isDisplayingSettings()}"
          (click)="selectSettings()"
        >
          <i class="icon-item fas fa-sliders-h bds-x-center bds-padding-1"></i>
          <div class="header-subtext">
            Settings
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <app-sidebar-tickets
        *ngIf="isDisplayingTickets()"
      ></app-sidebar-tickets>
      <app-sidebar-tags
        *ngIf="isDisplayingTags()"
      ></app-sidebar-tags>
      <app-sidebar-settings
        *ngIf="isDisplayingSettings()"
      ></app-sidebar-settings>
    </div>
  </div>
  <div class="show-hide bds-y-center" (click)="toggleSidebar()">
    <i class="fas fa-chevron-left" *ngIf="!sidebarIsHidden()"></i>
    <i class="fas fa-chevron-right" *ngIf="sidebarIsHidden()"></i>
  </div>
</div>
