<div class="container bds-shadow-3">
  <div class="sidebar" *ngIf="!sidebarIsHidden()">
    <div class="header-header bds-y-center">
      <i class="main-icon fas fa-project-diagram bds-margin-1 bds-x-center bds-y-center"></i>
      <div>
        <b>Dependency Mapper</b>
        <div class="header-subtext">
          Designed by BenCorp in California
        </div>
      </div>
    </div>
    <div class="header bds-y-center">
      <div class="menus bds-y-center bds-x-even_space">
        <div
          class="menu-item bds-x-center bds-padding-1"
          [ngClass]="{'menu-active': isDisplayingTickets()}"
          (click)="selectTickets()"
        >
          <i class="icon-item fas fa-ticket-alt bds-x-center bds-padding-1"></i>
          <div class="header-subtext">
            Tickets
          </div>
        </div>
        <div
          class="menu-item bds-x-center bds-padding-1"
          [ngClass]="{'menu-active': isDisplayingQuickDependencies()}"
          (click)="selectQuickDependencies()"
        >
          <i class="icon-item fas fa-project-diagram bds-x-center bds-padding-1"></i>
          <div class="header-subtext">
            Quick Dependency
          </div>
        </div>
        <div
          class="menu-item bds-x-center bds-padding-1"
          [ngClass]="{'menu-active': isDisplayingSettings()}"
          (click)="selectSettings()"
        >
          <i class="icon-item fas fa-sliders-h bds-x-center bds-padding-1"></i>
          <div class="header-subtext">
            Settings
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <app-sidebar-tickets
        class="ticket"
        *ngIf="isDisplayingTickets()"
      ></app-sidebar-tickets>
    </div>
  </div>
  <div class="show-hide bds-y-center" (click)="toggleSidebar()">
    <i class="fas fa-chevron-left" *ngIf="!sidebarIsHidden()"></i>
    <i class="fas fa-chevron-right" *ngIf="sidebarIsHidden()"></i>
  </div>
</div>
