.name-area {
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a0a0a0;
}

.big-input {
    font-size: large;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}