<div class="control-panel bds-padding-1 bds-shadow-2">
  <div class="panel-buttons bds-x-even_spread">
    <div class="bds-x-left">
      <div
        class="control-button bds-padding-1"
        [ngClass]="{'active': newTicketIsOpen()}"
        (click)="toggleNewTicket()"
      >
        <i class="fas fa-plus"></i>
        New
      </div>
      <div
        class="control-button bds-padding-1 bds-l-margin-1"
        (click)="copyUrl()"
      >
        <i class="fas fa-save"></i>
        Save
      </div>
    </div>
    <div class="control-button bds-padding-1">
      <i class="fas fa-filter"></i>
    </div>
  </div>
  <div class="bds-t-margin-1" *ngIf="newTicketIsOpen()">
    <app-sidebar-tickets-fields
      (submit)="addNewTicket($event)"
      (cancel)="cancelNewTicket()"
    ></app-sidebar-tickets-fields>
  </div>
</div>
<div class="tickets-container">
  <div *ngFor="let ticket of tickets">
    <app-sidebar-tickets-entry
      [ticket]="ticket"
    ></app-sidebar-tickets-entry>
  </div>
</div>
