<div class="container bds-blur-bg bds-bg-trans-dark bds-x-center bds-y-center">
  <div class="modal bds-container">
    <div class="bds-container-header bds-x-center bds-padding-1">
      Jira Setup
    </div>
    <div class="body bds-padding-1">
      <div class="bds-field-label">
        Email
      </div>
      <input class="bds-input-field">
      <div class="bds-field-label bds-t-padding-1">
        API Key
      </div>
      <input type="password" class="bds-input-field">
    </div>
    <div class="bds-container-footer bds-padding-1 bds-x-right">
      <button class="bds-button bds-button-flat bds-r-margin-1" (click)="closeJiraModal()">Cancel</button>
      <button class="bds-button bds-button-success">Save</button>
    </div>
  </div>
</div>
