<div class="container bds-x-center bds-blur-bg">
    <div class="modal bds-container bds-shadow-3 bds-margin-3">
        <div class="modal-body">
            <div class="modal-header bds-container-header bds-shadow-2 bds-padding-2 bds-x-even_spread bds-y-center">
                <h2>Tags</h2>
                <button class="close-button bds-button bds-x-center bds-y-center" (click)="handleClose()"><i class="fas fa-times"></i></button>
            </div>
            <div class="content">
                <div class="tag-list-container">
                    <div class="new-section bds-padding-2 bds-x-center bds-y-center">
                        <input class="new-tag-name bds-input-field bds-r-margin-2" type="text" placeholder="New Tag Name" [(ngModel)]="newTagName">
                        <button class="bds-button bds-button-success new-tag" (click)="handleAddNewTag()">Add</button>
                    </div>
                    <ul class="tag-list">
                        <li *ngFor="let tag of tags" class="tag-list-item bds-y-center">
                            <button
                              class="tag-list-item-button bds-button"
                              [ngClass]="{'tag-list-item-selected': tagItemIsSelected(tag.id)}"
                              (click)="handleTagSelect(tag.id)">
                              {{tag.value}}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="settings">
                  <div *ngIf="!tagIsSelected" class="no-tag-message bds-x-center bds-y-center">
                    Select or create a tag to edit
                  </div>
                  <div *ngIf="tagIsSelected">
                    <div class="bds-margin-2">
                      <div class="bds-field-label">Name</div>
                      <input
                          #inputField
                          class="bds-input-field big-input bds-b-margin-1"
                          placeholder="Name"
                          [(ngModel)]="value"
                          (keyup)="updateTag('value')"
                      >
                    </div>
                    <div class="tab-container bds-x-left bds-shadow-2">
                      <div
                        class="tab bds-padding-1 bds-no-highlight"
                        [ngClass]="{'tab-selected': backgroundIsSelected}"
                        (click)="selectBackground()"
                      >
                        Background
                        <div class="selected-bar"></div>
                      </div>
                      <div
                        class="tab bds-l-margin-1 bds-padding-1 bds-no-highlight"
                        [ngClass]="{'tab-selected': borderIsSelected}"
                        (click)="selectBorder()"
                      >
                        Border
                        <div class="selected-bar"></div>
                      </div>
                      <div
                        class="tab bds-l-margin-1 bds-padding-1 bds-no-highlight"
                        [ngClass]="{'tab-selected': textIsSelected}"
                        (click)="selectText()"
                      >
                        Text
                        <div class="selected-bar"></div>
                      </div>
                    </div>
                    <div class="bds-padding-1">
                      <!-- THIS IS SEPARATE BECAUSE IT CAUSES THE INTERFACE TO FLICKER IF IT'S IN A TAB -->
                      <div class="bds-x-center" [hidden]="!backgroundIsSelected">
                        <div class="bds-container">
                          <div
                            class="picker"
                            [(colorPicker)]="bgColor"
                            [cpOutputFormat]="'hex'"
                            [cpDialogDisplay]="'inline'"
                            [cpToggle]="true"
                            (colorPickerChange)="updateTag('bgColor')"
                          ></div>
                        </div>
                      </div>
                      <div class="bds-x-center" [hidden]="!borderIsSelected">
                        <div
                          [(colorPicker)]="borderColor"
                          [cpOutputFormat]="'hex'"
                          [cpDialogDisplay]="'inline'"
                          [cpToggle]="true"
                          (colorPickerChange)="updateTag('borderColor')"
                        ></div>
                      </div>
                      <div class="bds-x-center" [hidden]="!textIsSelected">
                        <div
                          [(colorPicker)]="textColor"
                          [cpOutputFormat]="'hex'"
                          [cpDialogDisplay]="'inline'"
                          [cpToggle]="true"
                          (colorPickerChange)="updateTag('textColor')"
                        ></div>
                      </div>
                      <div *ngIf="borderIsSelected">
                        <div class="bds-x-even_space">
                          <div>
                            <div class="bds-field-label bds-t-margin-1">Style</div>
                            <div>
                              <input
                                id="solidborderstyle"
                                type="radio"
                                name="borderStyle"
                                [(ngModel)]="borderStyle"
                                [value]="'solid'"
                                (change)="updateTag('borderStyle')">
                              <label for="solidborderstyle">Solid</label>
                            </div>
                            <div>
                              <input
                                id="dashedborderstyle"
                                type="radio"
                                name="borderStyle"
                                [(ngModel)]="borderStyle"
                                [value]="'dashed'"
                                (change)="updateTag('borderStyle')">
                              <label for="dashedborderstyle">Dashed</label>
                            </div>
                          </div>
                          <div>
                            <div class="bds-field-label bds-t-margin-1">Width (px)</div>
                            <input
                              type="number"
                              class="border-width-select bds-input-field bds-l-margin-1"
                              [(ngModel)]="borderWidth"
                              (change)="updateTag('borderWidth')">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>





                </div>
            </div>
        </div>
    </div>
</div>
