<div class="container">
  <div class="bds-field-label">Title</div>
  <input
    class="bds-input-field bds-shadow-1 bds-b-margin-1"
    [(ngModel)]="title"
  >
  <div class="bds-field-label">Jira Id</div>
  <input
    class="bds-input-field bds-shadow-1 bds-b-margin-1"
    [(ngModel)]="jiraId"
  >
  <div class="bds-field-label">Description</div>
  <textarea
    class="bds-input-field bds-input-field-large bds-shadow-1 bds-b-margin-1"
    type="text"
    [(ngModel)]="description"
  ></textarea>
  <div class="buttons bds-x-right">
    <button class="bds-button bds-button-flat bds-r-margin-1" (click)="cancelInput()">Cancel</button>
    <button class="bds-button bds-button-success" (click)="submitTicket()">Save</button>
  </div>
</div>
