.border-top {
  border-top-style: solid;
  border-top-color: #afafaf;
  border-top-width: 1px;
}

.delete-dep {
  opacity: 0.2;
  color: black;
  transition: opacity 0.2s, color 0.2s;
}

.delete-dep:hover {
  opacity: 1;
  color: #d45f5f;
  transition: opacity 0.2s, color 0.2s;
  cursor: pointer;
}

.dep-entry:hover {
  background: #ececec;
  cursor: pointer;
}

.check {
  color: #5ca25c;
}
