.container {
    height: 3em;
    // background-color: green;
}

.map-title {
    width: 100%;
    font-size: larger;
    font-weight: bold;
}

.main-icon {
    width: 2em;
    height: 2em;
    background-color: #5a8da1;
    color: white;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    border-color: #365b69;
}
