<div class="settings-container">
  <div class="section bds-container bds-margin-1 bds-padding-1 bds-shadow-2">
    <div class="section-header">
      <i class="fab fa-jira bds-r-margin-1"></i>
      <b>Jira</b>
    </div>
    <div class="section-content bds-t-margin-1">
      <div class="bds-field-label">
        Base Url
      </div>
      <input
      class="bds-input-field bds-shadow-1"
      [(ngModel)]="jiraBaseUrl"
      (blur)="setProject()">
      <div class="bds-field-label bds-t-margin-1">
        Project
      </div>
      <input
      class="bds-input-field bds-shadow-1"
      [(ngModel)]="jiraProject"
      (blur)="setProject()">
    </div>
  </div>
</div>
