.container {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    width: 50em;
}

.modal-header {
    z-index: 1;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.bds-container-header {
    border-bottom-color: #a0a0a0;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.content {
    display: flex;
    flex-grow: 1;
}

.close-button {
    width: 3em;
    height: 3em;
}

.tag-list-container {
    width: 20em;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #a0a0a0;
}

.new-section {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a0a0a0;
}

.new-tag-name {
    width: 100%;
}

.action-buttons {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a0a0a0;
}

.tag-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.tag-list-item {
    list-style-type: none;
    height: 3em;
}

.tag-list-item-selected {
    background-color: #e0edff;
}

.tag-list-item-selected:hover {
    background-color: #c5ddff;
}

.tag-list-item-button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    text-align: left;

    &:hover {
        border-color: #dedede;
        background-color: #e9e9e9;
    }
    &:active {
        background-color: #d3d3d3;
    }
}

.new-tag {
    width: 60%;
}

.settings {
    flex-grow: 1;

    .no-tag-message {
        height: 100%;
    }
}

.big-input {
    font-size: large;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.tab-container {
    position: relative;
    background-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #afafaf;
    // border-top-left-radius: 0.2em;
    // border-top-right-radius: 0.2em;
  }

  .tab {
    font-size: small;
    position: relative;
  }

  .tab:hover {
    color: #007bab;
    cursor: pointer;
  }

  .selected-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .tab > .selected-bar {
    background-color: unset;
    height: 0;
  }

  .tab-selected {
    font-weight: bold;
    color: #007bab;
  }

  .tab-selected > .selected-bar {
    background-color: #007bab;
    height: 0.2em;
    transition: height 0.2s;
  }

// shenanigans below

[hidden] {
    display:none!important;
}

color-picker::ng-deep div {
    background-color: green;
}
