<div class="container bds-y-center bds-x-even_spread">
    <div class="bds-margin-2 left-side bds-y-top">
        <i class="main-icon fas fa-project-diagram bds-r-margin-1 bds-padding-1 bds-x-center bds-y-center bds-shadow-2"></i>
        <div>
            <div class="page-title">Dependency Mapper</div>
            <input class="map-title" [(ngModel)]="title">
        </div>
    </div>
    <div class="button-cluster bds-margin-2 bds-y-center">
        <button *ngIf="hasDBEntry" class="new-button bds-button bds-button-success bds-r-margin-2" (click)="toggleNewTicket()">
            <i class="fas fa-plus bds-r-margin-1"></i>Ticket
        </button>
        <button *ngIf="hasDBEntry" class="new-button bds-button bds-r-margin-2" (click)="toggleTagsMenu()">
            <i class="fas fa-tags bds-r-margin-1"></i>Tags
        </button>
        <div class="sep-line"></div>
        <button *ngIf="hasDBEntry" class="settings-button bds-button bds-l-margin-2">
            <i class="fas fa-cog"></i>
        </button>
        <!-- <button *ngIf="!hasDBEntry" class="bds-button bds-button-success" (click)="createNewMap()">
            <i class="bds-r-margin-1 far fa-file"></i>New
        </button> -->
    </div>
</div>
<div *ngIf="tagsMenuOpen">
    <app-topbar-tags
        (close)="toggleTagsMenu()"></app-topbar-tags>
</div>
<app-ticket *ngIf="newTicketOpen" (close)="toggleNewTicket()"></app-ticket>
