.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 40em;
    // height: 60%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.bds-container-header {
    border-bottom-color: #a0a0a0;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .ticket-header {
        display: flex;
        flex-direction: column;

        .action {
            font-size: small;
        }

        .title {
            font-size: larger;
            font-weight: bold;
          }
    }
}

.content {
    display: flex;
    flex-grow: 1;

    .fields {
        display: flex;
        flex-direction: column;
        width: 100%;

        .big-input {
            font-size: large;
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 100%;
        }

        .description {
            resize: none;
        }
    }
}
