.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e6e6e6;
}

.topbar {
  height: 3em;
  background-color: pink;
}

.tree-container {
  flex-grow: 1;
}

.header {
  position: relative;
}
