.icon {
  color: white;
  background-color: rgb(71, 128, 151);
  padding: 0.5em;
  border-radius: 0.1em;
}

.icons {
  display: flex;
}

.jira {
  display: flex;
  background-color: #505050;
  color: white;
  // padding: 0.1em;
  border-radius: 0.1em;
}

.jira-icon:hover {
  color: #2684ff;
  cursor: pointer;
}

.jira-data {
  display: flex;
  background-color: white;
  color: black;
  margin: 0.2em;
  // padding: 0.2em;
  border-radius: 0.1em;
}

.jira-data-icon {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0.1em;
  border-radius: 0.1em;
}

.jira-data-icon:hover {
  background-color: #7695bd;
  background-color: #505050;
  color: white;
  cursor: pointer;
}


.sub-header {
  padding: 0.5em;
  color: white;
  background-color: #505050;
  z-index: -1;
}

.jira-modal {
  margin: 1em;
  width: 15em;
  height: 15em;
}

.bds-v-separator {
  width: 1px;
  height: 1em;
  background-color: white;
}

.controls {
  display: flex;
}

.control-text {
  font-size: small;
}

.subheader-button {
  display: flex;
}

.subheader-button:hover {
  color: #505050;
  background: white;
  cursor: pointer;
  border-radius: 0.1em;
}
