<div
  class="entry-container"
  [ngClass]="{
    'dep-open': isSettingDependencies(),
    'edit-open': isEditing(),
    'delete-open': isDeleting(),
    'entry-open': isEntryOpen()
  }"
>
  <div class="ticket-display bds-y-center">
    <div
      class="dependencies bds-l-padding-1 bds-t-padding-1 bds-b-padding-1 bds-x-even_spread bds-y-center"
      (click)="toggleDependencies()"
    >
      <div class="title">
        {{ title }}
      </div>
      <i class="icon fas fa-project-diagram"></i>
    </div>
    <div class="edit bds-padding-1" (click)="toggleEdit()">
      <i class="icon fas fa-pen"></i>
    </div>
    <div
    class="icon vertical-sep"
    ></div>
    <div class="delete bds-padding-1" (click)="toggleDelete()">
      <i class="icon fas fa-trash-alt"></i>
    </div>
  </div>
  <div
    class="bds-container bds-padding-1 bds-margin-1 bds-shadow-1"
    *ngIf="isEditing()"
  >
    <app-sidebar-tickets-fields
      [ticket]="ticket"
      (submit)="update($event)"
      (cancel)="toggleEdit()"
    ></app-sidebar-tickets-fields>
  </div>
  <div
    class="dep-container bds-padding-1"
    *ngIf="isSettingDependencies()"
  >
    DEPENDENCY THINGS GO HERE
  </div>
  <div
    class="dep-container bds-padding-1 bds-x-center"
    *ngIf="isDeleting()"
  >
    <button class="bds-button bds-button-danger" (click)="delete()">Delete</button>
  </div>
</div>
